In [1]:
import pandas as pd
import numpy as np

Задание 1. Загрузка данных

In [3]:
df = pd.read_csv('horse_data.csv', header=None, usecols= [0,1,3,4,5,6,10,22], na_values = '?')
df.columns = ['surgery', 'age', 'rectal_temperature', 'pulse', 'respiratory_rate', 'temperature_of_extremities', 'pain', 'outcome']
df

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

Задание 2. Первичное изучение данных (Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.)

In [4]:
df['rectal_temperature'] = pd.to_numeric(df['rectal_temperature'], downcast='float')
df[['rectal_temperature', 'pulse', 'respiratory_rate']].describe()

       rectal_temperature       pulse  respiratory_rate
count          240.000000  276.000000        242.000000
mean            38.167915   71.913043         30.417355
std              0.732289   28.630557         17.642231
min             35.400002   30.000000          8.000000
25%             37.799999   48.000000         18.500000
50%             38.200001   64.000000         24.500000
75%             38.500000   88.000000         36.000000
max             40.799999  184.000000         96.000000

Исходя из данных большинство животных имеют повышенную температуру, наименьшее число животных имеют пониженную или нормальную температуру,что говорит о возможной наличии инфекции у большинства животных. Большинство лошадей имеют повышенный пульс, что говорит о возможном состоянии шока или болезни животного, при этом случаев с пониженным пульсом нет(относительно низкие показатели могут встречаться у спортивных животных). Частота дыхания у большей части животных выше нормы

In [5]:
df[['surgery', 'age', 'temperature_of_extremities', 'pain', 'outcome' ]].mode()

   surgery  age  temperature_of_extremities  pain  outcome
0      1.0    1                         3.0   3.0      1.0

Большинство животных было прооперировано и являются взрослыми особями, холодные конечности у большинства животных говорят о том, что они могут находиться в состоянии шока, что кореллирует также с повышенной ректальной температурой у большинства лошадей. Большинство лошадей по субъективным оценкам испытывают легкую прерывистую боль, что может говорить о том, что на момент осмотра были приняты меры по лечению, или(в более редких случаях, т.к. большинство животных прооперировано) пониженную вероятность в необходимости в операции. К счастью, большинство лошадей выжило.

In [6]:
df[(df['surgery'] != 1) & (df['surgery'] != 2)] #только пропуск

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
132,NaN,1,38.0,48.0,20.0,3.0,4.0,NaN

In [7]:
df[(df['age'] != 1) & (df['age'] != 2)] #выбросы есть

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
3,1.0,9,39.099998,164.0,84.0,4.0,2.0,2.0
9,2.0,9,38.299999,90.0,NaN,1.0,5.0,1.0
13,2.0,9,38.000000,92.0,28.0,1.0,1.0,2.0
16,1.0,9,NaN,128.0,36.0,3.0,4.0,2.0
23,1.0,9,38.299999,130.0,60.0,NaN,2.0,1.0
39,1.0,9,39.200001,146.0,96.0,NaN,NaN,2.0
41,2.0,9,39.000000,150.0,72.0,NaN,NaN,1.0
55,1.0,9,38.599998,160.0,20.0,3.0,3.0,2.0
74,1.0,9,NaN,NaN,NaN,NaN,NaN,2.0
75,1.0,9,39.700001,100.0,NaN,3.0,2.0,3.0
82,1.0,9,38.099998,100.0,80.0,3.0,3.0,1.0
103,1.0,9,38.000000,140.0,68.0,1.0,3.0,1.0
109,1.0,9,38.400002,84.0,40.0,3.0,3.0,2.0
135,1.0,9,38.099998,136.0,48.0,3.0,5.0,2.0
191,2.0,9,NaN,100.0,44.0,2.0,4.0,1.0
212,1.0,9,38.900002,120.0,30.0,1.0,3.0,1.0
227,1.0,9,NaN,NaN,NaN,NaN,NaN,1.0
229,1.0,9,38.500000,120.0,70.0,NaN,NaN,1.0
244,1.0,9,38.200001,124.0,88.0,1.0,2.0,1.0
252,1.0,9,38.799999,124.0,36.0,3.0,2.0,2.0
255,1.0,9,38.799999,184.0,84.0,1.0,4.0,2.0
262,2.0,9,38.599998,88.0,28.0,NaN,NaN,1.0
275,1.0,9,38.799999,150.0,50.0,1.0,5.0,2.0
287,2.0,9,39.500000,84.0,30.0,NaN,NaN,1.0

In [8]:
df = df[(df['age'] == 1) | (df['age'] == 2)]
df

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
0,2.0,1,38.500000,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.200001,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.299999,40.0,24.0,1.0,3.0,1.0
4,2.0,1,37.299999,104.0,35.0,NaN,NaN,2.0
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
...,...,...,...,...,...,...,...,...
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.200001,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.500000,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.500000,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.200001,40.0,20.0,NaN,NaN,3.0

In [9]:
df[(df['pain'] != 1) & (df['pain'] != 2) & (df['pain'] != 3) & (df['pain'] != 4) & (df['pain'] != 5)] #только пропуски

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
4,2.0,1,37.299999,104.0,35.0,NaN,NaN,2.0
7,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
17,2.0,1,37.500000,48.0,24.0,NaN,NaN,1.0
19,2.0,1,39.400002,110.0,35.0,4.0,NaN,1.0
24,1.0,1,38.099998,60.0,12.0,3.0,NaN,1.0
25,2.0,1,37.799999,60.0,42.0,NaN,NaN,1.0
27,1.0,1,37.799999,48.0,12.0,3.0,NaN,1.0
28,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
36,2.0,1,38.299999,112.0,16.0,NaN,NaN,3.0
53,2.0,1,38.599998,40.0,20.0,NaN,NaN,1.0
56,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
68,2.0,1,NaN,52.0,16.0,1.0,NaN,1.0
72,1.0,1,37.700001,56.0,NaN,NaN,NaN,2.0
87,2.0,1,NaN,40.0,16.0,NaN,NaN,3.0
94,2.0,1,37.500000,48.0,30.0,4.0,NaN,1.0
96,2.0,1,NaN,84.0,36.0,NaN,NaN,1.0
106,1.0,1,38.299999,52.0,96.0,NaN,NaN,1.0
113,1.0,1,36.799999,60.0,28.0,NaN,NaN,2.0
129,1.0,1,38.400002,49.0,NaN,NaN,NaN,1.0
130,1.0,1,37.799999,30.0,12.0,NaN,NaN,2.0
141,2.0,1,36.000000,42.0,30.0,NaN,NaN,2.0
152,1.0,1,NaN,100.0,NaN,3.0,NaN,1.0
157,1.0,1,37.799999,60.0,24.0,1.0,NaN,3.0
161,1.0,1,38.299999,42.0,24.0,NaN,NaN,2.0
165,1.0,1,39.400002,120.0,48.0,NaN,NaN,3.0
170,2.0,1,37.500000,44.0,20.0,1.0,NaN,1.0
175,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
185,1.0,1,38.500000,120.0,60.0,4.0,NaN,1.0
186,1.0,1,39.299999,64.0,90.0,2.0,NaN,1.0
188,1.0,1,38.500000,60.0,NaN,1.0,NaN,1.0
195,2.0,1,38.000000,44.0,12.0,3.0,NaN,1.0
202,1.0,1,37.500000,48.0,40.0,NaN,NaN,3.0
207,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
208,1.0,1,37.799999,88.0,80.0,3.0,NaN,3.0
213,1.0,1,37.599998,45.0,12.0,3.0,NaN,1.0
216,2.0,1,NaN,NaN,NaN,NaN,NaN,1.0
217,1.0,1,38.000000,76.0,18.0,NaN,NaN,1.0
232,1.0,1,38.500000,30.0,18.0,NaN,NaN,1.0
234,2.0,1,37.500000,48.0,30.0,4.0,NaN,1.0
243,1.0,1,38.400002,92.0,20.0,1.0,NaN,1.0
257,1.0,1,38.700001,96.0,28.0,3.0,NaN,2.0
268,1.0,1,38.200001,42.0,20.0,NaN,NaN,1.0
269,1.0,1,39.299999,64.0,90.0,2.0,NaN,1.0
274,1.0,1,NaN,76.0,NaN,NaN,NaN,3.0
283,1.0,1,38.200001,72.0,18.0,NaN,NaN,1.0
288,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
293,1.0,1,NaN,78.0,24.0,3.0,NaN,3.0
299,1.0,1,37.200001,40.0,20.0,NaN,NaN,3.0

In [10]:
df[(df['outcome'] != 1) & (df['outcome'] != 2) & (df['outcome'] != 3)] #только пропуск

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
132,NaN,1,38.0,48.0,20.0,3.0,4.0,NaN

In [11]:
q1 = df['rectal_temperature'].quantile(0.25)
q3 = df['rectal_temperature'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df[df['rectal_temperature'].between(lower_bound, upper_bound, inclusive=True)]
remove_outliers

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
0,2.0,1,38.500000,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.200001,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.299999,40.0,24.0,1.0,3.0,1.0
4,2.0,1,37.299999,104.0,35.0,NaN,NaN,2.0
6,1.0,1,37.900002,48.0,16.0,1.0,3.0,1.0
...,...,...,...,...,...,...,...,...
294,2.0,1,38.500000,40.0,16.0,1.0,2.0,1.0
296,2.0,1,37.200001,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.500000,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.500000,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.200001,40.0,20.0,NaN,NaN,3.0

In [12]:
pd.concat([df, remove_outliers]).drop_duplicates(keep=False) #При инфекции температура лошади может поднматься до 42 гр., очень низкая температура может быть в состоянии шока

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
7,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
8,2.0,1,NaN,80.0,36.0,3.0,4.0,3.0
20,1.0,1,39.900002,72.0,60.0,1.0,5.0,1.0
35,2.0,1,NaN,104.0,24.0,4.0,4.0,3.0
40,1.0,1,NaN,88.0,NaN,3.0,5.0,2.0
43,1.0,1,NaN,120.0,NaN,3.0,4.0,3.0
44,1.0,1,35.400002,140.0,24.0,3.0,4.0,3.0
45,2.0,1,NaN,120.0,NaN,4.0,5.0,2.0
52,2.0,1,NaN,NaN,NaN,1.0,1.0,1.0
54,2.0,1,40.299999,114.0,36.0,3.0,2.0,3.0
57,1.0,1,NaN,64.0,36.0,2.0,5.0,2.0
58,1.0,1,NaN,NaN,20.0,4.0,5.0,2.0
65,1.0,1,NaN,60.0,36.0,3.0,3.0,1.0
68,2.0,1,NaN,52.0,16.0,1.0,NaN,1.0
80,1.0,1,36.400002,98.0,35.0,3.0,4.0,2.0
86,1.0,1,NaN,88.0,40.0,3.0,5.0,2.0
87,2.0,1,NaN,40.0,16.0,NaN,NaN,3.0
91,2.0,1,40.299999,114.0,36.0,3.0,2.0,2.0
93,2.0,1,NaN,NaN,NaN,3.0,5.0,2.0
96,2.0,1,NaN,84.0,36.0,NaN,NaN,1.0
101,1.0,1,NaN,60.0,20.0,4.0,5.0,3.0
105,1.0,1,NaN,70.0,36.0,1.0,2.0,1.0
112,1.0,1,NaN,40.0,NaN,2.0,1.0,1.0
115,2.0,1,NaN,NaN,40.0,3.0,3.0,1.0
134,1.0,1,NaN,100.0,NaN,3.0,5.0,2.0
141,2.0,1,36.000000,42.0,30.0,NaN,NaN,2.0
142,1.0,1,NaN,120.0,NaN,4.0,5.0,2.0
145,2.0,1,NaN,80.0,32.0,3.0,2.0,1.0
152,1.0,1,NaN,100.0,NaN,3.0,NaN,1.0
159,2.0,1,NaN,NaN,12.0,1.0,2.0,1.0
160,1.0,1,NaN,NaN,NaN,NaN,4.0,1.0
167,2.0,1,NaN,44.0,24.0,1.0,3.0,1.0
169,1.0,1,NaN,65.0,24.0,NaN,5.0,3.0
173,1.0,1,NaN,104.0,NaN,3.0,2.0,2.0
174,2.0,1,NaN,NaN,NaN,3.0,4.0,2.0
177,1.0,1,NaN,68.0,14.0,NaN,4.0,2.0
178,1.0,1,NaN,60.0,30.0,3.0,5.0,1.0
193,1.0,1,NaN,60.0,48.0,3.0,4.0,2.0
216,2.0,1,NaN,NaN,NaN,NaN,NaN,1.0
219,1.0,1,NaN,52.0,28.0,3.0,3.0,1.0
222,1.0,1,NaN,112.0,13.0,4.0,2.0,1.0
238,2.0,1,36.099998,88.0,NaN,3.0,3.0,3.0
242,1.0,1,NaN,36.0,32.0,1.0,5.0,2.0
253,2.0,1,NaN,112.0,24.0,3.0,5.0,1.0
254,1.0,1,NaN,80.0,NaN,3.0,4.0,1.0
259,1.0,1,40.799999,72.0,42.0,3.0,2.0,2.0
265,2.0,1,NaN,56.0,68.0,3.0,3.0,3.0
274,1.0,1,NaN,76.0,NaN,NaN,NaN,3.0
281,2.0,1,40.000000,78.0,NaN,3.0,2.0,2.0
293,1.0,1,NaN,78.0,24.0,3.0,NaN,3.0
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0

In [13]:
q1 = df['pulse'].quantile(0.25)
q3 = df['pulse'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df[df['pulse'].between(lower_bound, upper_bound, inclusive=True)]
remove_outliers

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
0,2.0,1,38.500000,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.200001,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.299999,40.0,24.0,1.0,3.0,1.0
4,2.0,1,37.299999,104.0,35.0,NaN,NaN,2.0
6,1.0,1,37.900002,48.0,16.0,1.0,3.0,1.0
...,...,...,...,...,...,...,...,...
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.200001,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.500000,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.500000,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.200001,40.0,20.0,NaN,NaN,3.0

In [14]:
pd.concat([df, remove_outliers]).drop_duplicates(keep=False) #140 -- не наблюдается даже у жеребят в первые недели жизни, но в сочетании с остальными критическими параметрами и последующей эвтаназией можно предположить, что это не выброс. Остальные данные -- пропуски

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
44,1.0,1,35.400002,140.0,24.0,3.0,4.0,3.0
52,2.0,1,NaN,NaN,NaN,1.0,1.0,1.0
58,1.0,1,NaN,NaN,20.0,4.0,5.0,2.0
93,2.0,1,NaN,NaN,NaN,3.0,5.0,2.0
115,2.0,1,NaN,NaN,40.0,3.0,3.0,1.0
117,2.0,1,39.500000,NaN,NaN,3.0,3.0,3.0
126,1.0,1,38.700001,NaN,NaN,3.0,5.0,1.0
151,1.0,1,39.299999,NaN,NaN,4.0,4.0,2.0
159,2.0,1,NaN,NaN,12.0,1.0,2.0,1.0
160,1.0,1,NaN,NaN,NaN,NaN,4.0,1.0
174,2.0,1,NaN,NaN,NaN,3.0,4.0,2.0
204,1.0,1,39.200001,NaN,23.0,3.0,4.0,1.0
216,2.0,1,NaN,NaN,NaN,NaN,NaN,1.0

In [15]:
df[(df['temperature_of_extremities'] != 1) & (df['temperature_of_extremities'] != 2) & (df['temperature_of_extremities'] != 3) & (df['temperature_of_extremities'] != 4)]#Только пропуски

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
1,1.0,1,39.200001,88.0,20.0,NaN,3.0,3.0
4,2.0,1,37.299999,104.0,35.0,NaN,NaN,2.0
17,2.0,1,37.500000,48.0,24.0,NaN,NaN,1.0
25,2.0,1,37.799999,60.0,42.0,NaN,NaN,1.0
28,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
36,2.0,1,38.299999,112.0,16.0,NaN,NaN,3.0
37,1.0,1,37.799999,72.0,NaN,NaN,5.0,1.0
53,2.0,1,38.599998,40.0,20.0,NaN,NaN,1.0
56,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
72,1.0,1,37.700001,56.0,NaN,NaN,NaN,2.0
81,1.0,1,37.299999,40.0,NaN,NaN,2.0,1.0
87,2.0,1,NaN,40.0,16.0,NaN,NaN,3.0
90,2.0,1,38.000000,52.0,16.0,NaN,2.0,1.0
95,1.0,1,37.299999,48.0,20.0,NaN,3.0,1.0
96,2.0,1,NaN,84.0,36.0,NaN,NaN,1.0
106,1.0,1,38.299999,52.0,96.0,NaN,NaN,1.0
113,1.0,1,36.799999,60.0,28.0,NaN,NaN,2.0
121,1.0,1,38.299999,80.0,40.0,NaN,4.0,3.0
128,1.0,1,37.400002,84.0,20.0,NaN,2.0,3.0
129,1.0,1,38.400002,49.0,NaN,NaN,NaN,1.0
130,1.0,1,37.799999,30.0,12.0,NaN,NaN,2.0
141,2.0,1,36.000000,42.0,30.0,NaN,NaN,2.0
148,1.0,1,38.299999,132.0,NaN,NaN,2.0,1.0
149,2.0,1,38.700001,48.0,24.0,NaN,1.0,1.0
160,1.0,1,NaN,NaN,NaN,NaN,4.0,1.0
161,1.0,1,38.299999,42.0,24.0,NaN,NaN,2.0
165,1.0,1,39.400002,120.0,48.0,NaN,NaN,3.0
169,1.0,1,NaN,65.0,24.0,NaN,5.0,3.0
175,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
177,1.0,1,NaN,68.0,14.0,NaN,4.0,2.0
181,2.0,1,37.799999,48.0,14.0,NaN,3.0,1.0
190,1.0,1,37.099998,40.0,8.0,NaN,3.0,1.0
202,1.0,1,37.500000,48.0,40.0,NaN,NaN,3.0
207,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
210,1.0,1,37.900002,68.0,20.0,NaN,2.0,2.0
216,2.0,1,NaN,NaN,NaN,NaN,NaN,1.0
217,1.0,1,38.000000,76.0,18.0,NaN,NaN,1.0
232,1.0,1,38.500000,30.0,18.0,NaN,NaN,1.0
239,1.0,1,38.099998,70.0,22.0,NaN,5.0,3.0
260,2.0,1,38.000000,40.0,25.0,NaN,4.0,1.0
263,1.0,1,37.099998,75.0,36.0,NaN,4.0,2.0
268,1.0,1,38.200001,42.0,20.0,NaN,NaN,1.0
274,1.0,1,NaN,76.0,NaN,NaN,NaN,3.0
280,1.0,1,38.599998,48.0,12.0,NaN,1.0,1.0
283,1.0,1,38.200001,72.0,18.0,NaN,NaN,1.0
288,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
289,1.0,1,38.000000,50.0,36.0,NaN,3.0,1.0
299,1.0,1,37.200001,40.0,20.0,NaN,NaN,3.0

Задание 3. Работа с пропусками

In [16]:
(df.isna().mean() * 100).round(2)

surgery                        0.36
age                            0.00
rectal_temperature            20.29
pulse                          7.97
respiratory_rate              19.57
temperature_of_extremities    17.39
pain                          17.39
outcome                        0.36
dtype: float64

In [17]:
df[(df['outcome'] != 1) & (df['outcome'] != 2) & (df['outcome'] != 3)]

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
132,NaN,1,38.0,48.0,20.0,3.0,4.0,NaN

In [18]:
df = df.dropna(thresh=7) #Удаляем строки с бвумя и более пропусками, т.к. корректно информацию с таким количеством пропусков не восполнить.Остается 77%данных

In [19]:
df

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
0,2.0,1,38.500000,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.200001,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.299999,40.0,24.0,1.0,3.0,1.0
6,1.0,1,37.900002,48.0,16.0,1.0,3.0,1.0
8,2.0,1,NaN,80.0,36.0,3.0,4.0,3.0
...,...,...,...,...,...,...,...,...
294,2.0,1,38.500000,40.0,16.0,1.0,2.0,1.0
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.200001,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.500000,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.500000,100.0,24.0,3.0,3.0,1.0

In [20]:
df[(df['surgery'] != 1) & (df['surgery'] != 2)] #Пропусков нет

Empty DataFrame
Columns: [surgery, age, rectal_temperature, pulse, respiratory_rate, temperature_of_extremities, pain, outcome]
Index: []

In [21]:
df[(df['pain'] != 1) & (df['pain'] != 2) & (df['pain'] != 3) & (df['pain'] != 4) & (df['pain'] != 5)]

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
19,2.0,1,39.400002,110.0,35.0,4.0,NaN,1.0
24,1.0,1,38.099998,60.0,12.0,3.0,NaN,1.0
27,1.0,1,37.799999,48.0,12.0,3.0,NaN,1.0
94,2.0,1,37.500000,48.0,30.0,4.0,NaN,1.0
157,1.0,1,37.799999,60.0,24.0,1.0,NaN,3.0
170,2.0,1,37.500000,44.0,20.0,1.0,NaN,1.0
185,1.0,1,38.500000,120.0,60.0,4.0,NaN,1.0
186,1.0,1,39.299999,64.0,90.0,2.0,NaN,1.0
195,2.0,1,38.000000,44.0,12.0,3.0,NaN,1.0
208,1.0,1,37.799999,88.0,80.0,3.0,NaN,3.0
213,1.0,1,37.599998,45.0,12.0,3.0,NaN,1.0
234,2.0,1,37.500000,48.0,30.0,4.0,NaN,1.0
243,1.0,1,38.400002,92.0,20.0,1.0,NaN,1.0
257,1.0,1,38.700001,96.0,28.0,3.0,NaN,2.0
269,1.0,1,39.299999,64.0,90.0,2.0,NaN,1.0

In [22]:
print(df.groupby(['outcome', 'surgery'])['pain'].median())
# Наблюдается некоторная связь
df['pain'].fillna(df.groupby(['outcome', 'surgery'])['pain'].transform('median'), inplace=True)

outcome  surgery
1.0      1.0        3.0
         2.0        2.0
2.0      1.0        4.0
         2.0        3.0
3.0      1.0        4.0
         2.0        3.0
Name: pain, dtype: float64

C:\Users\daria\anaconda3\lib\site-packages\pandas\core\series.py:4517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [23]:
df[(df['age'] != 1) & (df['age'] != 2)] 
#Пропусков нет

Empty DataFrame
Columns: [surgery, age, rectal_temperature, pulse, respiratory_rate, temperature_of_extremities, pain, outcome]
Index: []

In [24]:
df['rectal_temperature'].fillna(df['rectal_temperature'].mean(), inplace=True)

C:\Users\daria\anaconda3\lib\site-packages\pandas\core\series.py:4517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [25]:
df['pulse'].fillna(df['pulse'].mean(), inplace=True)
# Т.к. значения, в основном выше нормы и таким образом заполненные пропуски не должны сильно выбиваться

In [26]:
df['respiratory_rate'].fillna(df['respiratory_rate'].mean(), inplace=True)
# Т.к. значения странные и не имеют связи особой с остальными

In [29]:
df['temperature_of_extremities'].fillna(df['temperature_of_extremities'].mode()[0], inplace=True)
#Т.к. величина категориальная, а прямой связи м-ду temperature_of_extremities и rectal_temperature нет

In [30]:
(df.isna().mean() * 100).round(2)

surgery                       0.0
age                           0.0
rectal_temperature            0.0
pulse                         0.0
respiratory_rate              0.0
temperature_of_extremities    0.0
pain                          0.0
outcome                       0.0
dtype: float64